branches:
  only:
  - master
language: python
python:
- '3.6'
before_script:
- if [ -n "${GH_TOKEN}" ] && [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
    pip install pygithub;
    pip install pygithub3;
  fi
script:
- python3 tools/config_style_checker.py
- if [ -n "${GH_TOKEN}" ] && [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
    python3 tools/deploy.py;
  fi
env:
  global:
  - secure: qyw9FCHv4yLx6op1rH4RTkLHj5z8Thsm2HQIlShYVdlvl7TEWrILZ+Zw9L+3FpwP6NYBTk1fmzoXijrPHw2hAvUqlP93LAWlpQ+BKsB1ZpGBl1L/VJQ3m0RD0/JFM8dyrXaW+9Cq+ozXvtzpYkKwX1A+xi6UjNpbeZDCxxdJl7XROrq88U4PK/+8wm55i1eJk+JUdQ/ZQ2TAuf0cY4dpyHZ4QpdWdZL+1DAOTgRFgxHYa3pCj8zA9Uubhn8tNNZAC/V00IpWoBarF8uWKZ9MIYJ0K/yOJ58CV0StAkmN/0hsgWidax+hjTfsk6/8xgW407VQW34oPxSEvF10iwentHqyYK+qc7bh6hO3r3gOLbbsd0YWPxD3QPHJQe64ymBeIMdsMXLVoUpp1RUPoAAhGBx6Rvvds2FQ2yQSNrIUW5UCXid0QSoOhLuwJmf84zmVWJukiq7W6SsKvko8GnLR+7Lzp1i60ElL5zVaLnO2ogMFGRnfTYWpfUyoAzwveuQBGhnUz5mS3sI9L+VyuL8m5PNOoQ1KB3KzVSJPlSGFEfVKea3nSMCh+cgmYbZu6iAUKWeLs+mZ0dYdRHiQsYylGm4s4D/MZ2l2Kp4seQhl4veZjUIA3NAlmbXk7TvygFcMA7+IuwZfi4Nuo9YdqqY6TGJERr7t2tqV1TFXVsmo06Y=
notifications:
  email:
    on_success: never
    on_failure: change
